&__menageusers {
    border-radius: 15px;
    padding: 20px;
    background-color: $maincolor;

    &__content {
        overflow:auto;
        height: 450px;
        margin-top: 12px;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(230, 233, 236, 0.3);  
        border-radius: 10px;
    }
    
    &--heading {
        color: $textcolor;
        font-size: 2em;
        margin-bottom: 8px;
    }
    
    &--text {
        font-size: 1.4em;
        color: $textcoloropct;
        margin-bottom: 0;
    }
    
    table {
        border: 1px solid rgba(0,0,0, .1);
        
        thead {
            tr {
                th {
                    font-size: 1.4em;
                    padding: 5px;
                    text-align: center;
                    color: $textcolor;
                    background-color: transparent;
                }
            }
        }

        tbody {

            tr {
                td {
                    font-size: 1.4em;
                    padding: 7px 5px;
                    color: $textcolor;
                    background-color: transparent;
                    text-transform: capitalize;
                    
                    button {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $textcolor;
                        border-radius: 4px;
                        background-color: transparent;
                        color: $textcolor;
                        padding: 5px;

                        span {
                            font-size: 1.1em;
                        }
                    }

                    .form-group {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        input {
                            font-size: 1em;
                            border: none;
                            height: 31px;
                            width: 140px;
                        }
                    }
                }  
                
            }
            
            
            tr:nth-child(even) {
                background: rgba(0,0,0, .07);
            }

        }

    }
}