&__todo {
    padding: 20px;
    background-color: $maincolor;
    border-radius: 15px;
 
    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 20px;
        &--add {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            border: 1px solid $textcolor;
            border-radius: 8px;
            padding: 6px 12px;
            background: transparent;
            color: $textcolor;
            transition: all .5s;

            &:hover {
                border: 1px solid transparent;
                background-color: $textcolor;
                color: $maincolor;
            }
        }

        span {
            margin-left: 10px;
        }
    }

    &__text {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        text-transform: capitalize;
        &--heading {
            font-size: 2em;
            color: $textcolor;
            margin-bottom: 8px;
        }

        &--text {
            font-size: 1.4em;
            color: $textcoloropct;
        }
    }

    &__list {
        overflow:auto;
        height: 350px;
        padding-left: 0;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(230, 233, 236, 0.3);  
        border-radius: 10px;
    }

    &__task {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding: 8px 16px 8px 0;
        margin-bottom: 16px;

        &--status {
            font-size: 1.05em;
            color: $textcolor;
            background-color: $red;
            padding: 3.675px 7.35px;
            border-radius: 8px;
            font-weight: 300;
            margin-top: 8px;
            margin-left: 45px;
        }

        &--status-yesterday {
            font-size: 1.05em;
            color: $textcolor;
            background-color: $blue;
            padding: 3.675px 7.35px;
            border-radius: 8px;
            font-weight: 300;
            margin-top: 8px;
            margin-left: 45px;
        }

        &--status-week {
            font-size: 1.05em;
            color: $textcolor;
            background-color: $purple;
            padding: 3.675px 7.35px;
            border-radius: 8px;
            font-weight: 300;
            margin-top: 8px;
            margin-left: 45px;
        }

        &--status-weeks {
            font-size: 1.05em;
            color: $textcolor;
            background-color: $warning;
            padding: 3.675px 7.35px;
            border-radius: 8px;
            font-weight: 300;
            margin-top: 8px;
            margin-left: 45px;
        }
        
        .input-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .input-group-text {
                background-color: transparent;
                border: 0;

                .form-check-input {
                    margin: 3.5px 12px 0 4px;
                    font-size: 1.4em;
                    background-color: transparent;
                    border: 1px solid $textcoloropct;
                }
            }

            
            .form-control {
                background-color: transparent;
                border: 0;
                width: 5%;
            }

            .form-floating {
                font-size: 1.4em;
                color: $textcolor;
                width: 300px;
            }
        }

        &--delete,
        &--edit {
            border: none;
            background: transparent;
            font-size: 1.4em;
            span {
                color: $textcolor;
                transition: color .4s;
            }

            span:hover {
                color: $textcoloropct;
            }
        }

        &__actions {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

}