$maincolor: #192430;
$bgcolor: #0a1118;
$bgcolor2: #303a45;
$textcolor: #e6e9ec;
$textcoloropct: rgba(230, 233, 236, 0.749);
$green: #2cd07e;
$purple: #6376ff;
$blue: #2cabe3;
$red: rgb(255, 80, 80);
$warning: rgb(255, 178, 43);
